name: Format Check

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run format:check
